li{
    list-style: none;
}
.nav{
    padding: 0;
    margin: 0;
}
 .icon{
    text-decoration: none;
    float: left;
    padding: 5px;

}
a.icon5{
    float: right;
}
.navbar1
{
    background-color: aquamarine;
    overflow: auto;

}